body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    color: #111;
    margin: 20px;
  }
   
  header {
    text-align: center;
    margin-bottom: 20px;
  }
   
  h1 {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
  }
   
  .busqueda input {
    display: block;
    margin: 0 auto;
    padding: 8px;
    width: 50%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
   
  .inventario {
    text-align: center;
    margin-top: 30px;
  }
   
  .productos {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
  }
   
  .producto {
    background: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
    width: 350px;
  }
   
  .producto img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
   
  .acciones {
    display: flex;
    height: 80px;
    justify-content: space-around;
    
  }
   
  .nuevo-producto {
    margin-top: 40px;
    text-align: center;
  }
   
  .formulario {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    align-items: center;
  }
   
  .imagen-subida {
    text-align: center;
  }
   
  .imagen-subida img {
    width: 80px;
    height: 80px;
    background: #000;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
  }
   
  .campos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
  }
   
  .campos input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #aaa;
    width: 250px;
  }